.header_container{
  padding: 100px;


}
.header_main{
  width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.header_main_tags{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}